# dependencies
node_modules/
/.pnpm-store/

# build output
.turbo
dist
typings/

# general gitignore flag
*_gitignore

# subgits
/ptf/

# Playgrounds
/examples/playground
repl.js

# Environment variables
.env*

# Debug run artifacts
*.db
*.db-shm
*.db-wal
