:root {
  .card .title .icon {
    border: unset;
    background-color: var(--sl-color-accent-low);
  }

  a:not([class]) {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--sl-color-accent-low);
    text-decoration-thickness: 0.15rem;
    color: unset;
    background-image: linear-gradient(
      120deg,
      var(--sl-color-accent-low) 0,
      var(--sl-color-accent-low) 100%
    );
    background-size: 100% 0;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in;
  }

  a:not([class]):hover {
    background-size: 100% 90%;
  }
}
